.background{
 width: 1060px;
 background-color: #eeebe4;
 padding:0px 100px 50px 100px;
 font-family: MicrosoftJhengHei;
}
.clear{
  clear: both;
}
.clear1{
  clear: both;
}
.top{
  position: relative;
  width: 1285px;
}
.top .menu{
  display: none;
  position: absolute;
  font-size: 4em;
  margin-top: 3px;
  padding: 3px -3px;
  border-radius: 5px;
  color: #eeebe4;
}

.logo{
  float: left;
  margin-top: 20px;
}

.righttop{
  position: absolute;
  left:0px;
  top:0px;
  left: 60%;
  margin-top: 45px;
  float: left;
}
.nav {
 line-height: 0px;
 font-size: 16.3px;
 letter-spacing: 0.4px;
 color: #967d54;
}
.search{
  margin-top: 40px;
}
.home{
  padding-right: 10.5px;
  border-right: 1.5px solid #967d54;
  float: left;
}
.contact{
  padding-right: 10.5px;
  padding-left: 10.5px;
  border-right: 1.5px solid #967d54;
  float: left;
}
.join{
  padding-right: 10.5px;
  padding-left: 10.5px;
  border-right: 1.5px solid #967d54;
  float: left;
}
.sign{
  padding-left: 10.5px;
  float: left;
}
nav{
  float: left;
  margin-left: -40px;
  margin-right: 15px;
}
nav ul li{
  background-color: #967d54;
  font-size: 28.85px;
  padding: 13px 12px;
  float: left;
  list-style: none;
  color: #eeebe4;
  display: block;
}
.buy{
  margin-top: -3px;
}
.big{
  margin-top: 35px;
}

.block {
  margin-right: 11px;
  margin-top: 20px;
  float:left;
  background-color: #967d54;
}
.block ul li {
  float: left;
  list-style: none;
}
.one{
  margin: -10px 5px 5px -25px;
  color: #ffffff;
  font-size: 18px;
}
.two{
  margin: -10px 5px 5px 5px;
}
.three{
  margin:-13px 0px 5px 33px;
  color: #ffffff;
  font-size: 24px;
}
footer{
  width: 1220px;
  padding: 20px;
  background-color: #967d54;
  padding-top: 30px;
  font-family: MicrosoftJhengHei;
  position: relative;
}
.copyright{
  text-align: center;
  color: #ffffff;
}
.icon{
  position: absolute;
  right: 80px;
  top: 20px;
}
.icon img{
  margin: 16px;
}



@media screen and (max-width:768px) {
  .background{
   width: 768px;
   background-color: #eeebe4;
   padding-left:10px;
   padding-right:30px;
   font-family: MicrosoftJhengHei;
  }
  .top{
    position: relative;
    width: 768px;
    height: 100px;
    margin-left: -10px;
    padding-right:40px;
    margin-bottom: -40px;
    background-color: #967d54;
  }
  .top .menu{
    display: block;
  }
  .top .menu:hover{
    background-color: #eeebe4;
    color: #967d54;
    cursor:pointer;
  }
  .site-nav ul{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
  }
  .site-nav li {
    float: none;
    width: 100%;

  }

  .logo img{
    float: left;
    padding-left: 300px;
    margin-top: -10px;
    height: auto;
    max-width: 30%;
  }
  .big img{
    height: auto;
    max-width: 105%;
    margin-left: -8px;
  }
  .buy,
  .search,
  .home,
  .contact,
  .join,
  .sign,
  .clear
  {
    display: none;
  }
  .block {
    margin-left:28px;
    margin-right: 5px;
    margin-top: 30px;
    background-color: #967d54;
  }
  .one{
    display: none;
  }
  .two
  {
    display: none;
  }
  .three{
    float: left;
    margin-left: 150px;
    color: #ffffff;
    font-size: 18px;
  }
  footer{
    width: 768px;
    height: 100px;
    padding: 20px;
    background-color: #967d54;
    padding-top: 100px;
    font-family: MicrosoftJhengHei;
    position: relative;
  }
  .icon{
    position: absolute;
    left: 270px;
    top: 25px;
  }
  .icon img{
    margin: 16px;
  }
  .copyright{
    text-align: center;
    color: #ffffff;
  }

}
@media screen and (max-width:320px) {
  .background{
   width: 320px;
   background-color: #eeebe4;
   padding-left:10px;
   padding-right:30px;
   font-family: MicrosoftJhengHei;
  }
  .top{
    position: relative;
    width: 320px;
    height: 60px;
    margin-left: -10px;
    padding-right:40px;
    margin-bottom: -40px;
    background-color: #967d54;
  }
  .top .menu{
    display:block;
    position: absolute;
    font-size: 2.5em;
    margin-top: 2px;
    margin-left: 30px;
    border-radius: 1px;
    color: #eeebe4;
  }

  .top .menu:hover{
    background-color: #eeebe4;
    color: #967d54;
    cursor:pointer;
  }
  .site-nav ul{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
  }
  .site-nav li {
    float: none;
    width: 100%;

  }

  .logo img{
    float: left;
    padding-left: 100px;
    margin-top: -15px;
    margin-bottom: 10px;
    height: auto;
    max-width: 40%;
  }
  .big img{
    height: auto;
    max-width: 113%;
    margin-left: -10px;
  }
  .buy,
  .search,
  .home,
  .contact,
  .join,
  .sign,
  .clear
  {
    display: none;
  }
  .block {
    max-width: 100%;
    margin-left:14px;
    margin-right: 5px;
    margin-top: 30px;
    background-color: #967d54;
  }
  .block img{
    height: auto;
    max-width: 100%;
  }
  .one{
    display: none;
  }
  .two
  {
    display: none;
  }
  .three{
    float: left;
    margin-left: 150px;
    color: #ffffff;
    font-size: 18px;
  }
  footer{
    width: 320px;
    padding-right: 20px;
    padding-left:20px;
    background-color: #967d54;
    font-family: MicrosoftJhengHei;
    position: relative;
  }
  .icon{
    position: absolute;
    left: 125px;
    top: 75px;
  }
  .icon img{
    margin: 2px;
    max-width: 15%;
  }
  .copyright{
    text-align: center;
    color: #ffffff;
  }

}
